@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckOut</title>
</head>
<body>
    @*<form  method="POST">
            <button type="submit">Checkout</button>
        </form>*@

    <!--<form id="payment-form" data-secret="@ViewBag.Secret">
        <div id="payment-element">-->
    <!-- Elements will create form elements here -->
    <!--</div>

        <button id="submit">Submit</button>
    </form>-->




</body>
</html>